{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": "63"
        },
        "useBuiltIns": "usage",
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-syntax-async-generators"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "rewire"
      ]
    }
  }
}
