/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.empty {
  text-align: center;
  white-space: pre-wrap;
  padding: 40px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: #0c0c0d;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: normal;
}
.empty h2 {
  font-weight: normal;
  font-size: 15px;
}

.item {
  color: #0c0c0d;
  border-bottom: 1px solid #d7d7db;
  background-color: #ffffff;
}

.item:first-child {
  border-top: 1px solid #d7d7db;
}

.item .item-summary:hover {
  background-color: #ededf0;
}

.item .item-summary:active {
  background-color: #e7e7e7;
}

.item[data-selected] .item-summary {
  position: relative;
  background-color: #ededf0;
  cursor: pointer;
}

/* Provide borders at the top and bottom of selected items. These are ::before
   and ::after pseudoelements so that we can give them their own z-index. This
   lets us have other elements (e.g. headers, footers) around the list that are
   drawn on top of the list, but to have the selected borders here go on top of
   *those*. */

.item[data-selected] .item-summary::before,
.item[data-selected] .item-summary::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d7d7db;
  z-index: 10;
}

.item[data-selected] .item-summary::before {
  top: -1px;
}

.item[data-selected] .item-summary::after {
  bottom: -1px;
}

/* Stick with the pseudoelement pattern for the big blue left border for the
   selected item. Give it a higher z-index than the top/bottom borders, so
   the blue bar is the full height of the item, matching the mocks. */

.item[data-selected] {
  position: relative;
}

.item[data-selected]::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #0a84ff;
  z-index: 11;
  margin-top: -1px;
  margin-bottom: -1px;
}
