/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-summary-container {
  cursor: pointer;
}

.item-summary {
  padding: 9px 15px;
  position: relative;
}

.info {
  background: url(/icons/chevron-right.svg) no-repeat;
  position: absolute;
  right: 12px;
  top: 25px;
  height: 9px;
  width: 9px;
}

li[data-selected] .info {
  background-image: none;
}

.info.panel {
  right: 0px;
  top: -3px;
  width: 18px;
  height: 18px;
  margin: 20px;
  margin-right: 12px;
  background-image: url(/icons/info.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 50%;
  padding: 7px;
  border-radius: 2px;
}

.info.panel:hover {
  background-color: rgba(12, 12, 13, 0.1);
}

.item-summary:hover .info.panel {
  background-image: url(/icons/info-dark.svg);
}

.title,
.subtitle {
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-size: 15px;
  font-weight: 500;
  color: #0c0c0d;
}

.subtitle {
  font-size: 13px;
  font-weight: 300;
  color: #737373;
}
