/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-summary-container::before {
  content: "";
  float: right;
  position: relative;
  width: 5px;
  height: 9px;
  margin: 32px 20px;
  background-image: url(/icons/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  z-index: 2;
}

.item-summary {
  padding: 16px 20px;
  font-size: 15px;
}

.title,
.subtitle {
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-size: 13px;
  font-weight: 400;
  color: #737373;
}

.copy-buttons {
  border-top: 1px solid #d7d7db;
  display: flex;
}

.copy-button {
  flex: 1;
  height: 40px;
}

.copy-button + .copy-button {
  border-inline-start: 1px solid #d7d7db;
}

.copy-button-inner {
  border-radius: 0;
}

.copy-button-inner:focus {
  box-shadow: inset 0 0 0 2px #0a84ff;
}

.copy-button-inner:hover {
  background-color: #ededf0;
}

.copy-button-inner:active:hover {
  background-color: #d7d7db;
}

/* panel specific styles*/
.item-summary-container-panel::before {
  display: none;
}

.item-summary-container-panel::before:hover {
  content: "";
  float: right;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 32px 20px;
  background-image: url(/icons/info.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  z-index: 2;
}
