/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.intro-page {
  color: #0c0c0d;
  text-align: center;
  margin: 0 180px;
}

.intro-page footer h2,
.intro-page header h2 {
  font-size: 22px;
  font-weight: lighter;
}

.intro-page footer {
  margin-top: 40px;
}

.intro-page footer p,
.intro-page header p {
  color: #737373;
  font-size: 15px;
}

.intro-page footer a {
  color: #0060df;
  text-decoration: none;
}

.intro-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 4em;

  font-size: 13px;
  margin-bottom: 40px;
}

.intro-main h3 {
  font-size: 15px;
  font-weight: bold;
}

.intro-main article {
  padding: 0 !important;
  text-align: left;
}

.intro-page hr {
  color: #ededf0;
  width: 200px;
}
