/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-details {
  padding: 1em 4.6em 4.6em;
  background-color: #f9f9fa;
}

.item-details header {
    border-bottom: 1px solid #d7d7db;
    padding-bottom: 12px;
}

.item-details header menu {
  float: right;
}

.item-details > menu {
  padding: 40px 0;
}

.clear {
  clear: both;
}

.item-details menu > button {
  margin-top: 0px;
}

.item-details h1 {
  display: inline;
  font-size: 33px;
  font-weight: 300;
  margin-bottom: 10px;
}

.edit-button {
  background-image: url(/icons/edit.svg);
  background-position: 25% 8px;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.delete-button {
  background-image: url(/icons/delete.svg);
  background-position: 15% 8px;
  background-repeat: no-repeat;
  padding-left: 25px;
}

hr {
  color: #d7d7db;
}

.metadata {
  color: #737373;
  font-size: 13px;
}

.metadata hr {
  width: 40px;
  color: #d7d7db;
  float: left;
  margin-top: 50px;
}
