/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-details {
  padding: 1em 4.6em 4.6em;
  background-color: #f9f9fa;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  overflow: scroll;
  min-width: 500px;
}

.item-details header {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  border-bottom: 1px solid #d7d7db;
  height: 50px;
  padding-bottom: 8px;
}
.item-details header h1 {
  flex: 1 1 auto;
  margin: 0px;
  display: inline;
  font-size: 33px;
  line-height: 1.5;
  font-weight: 300;
}
.item-details header menu {
  flex: 0 1 auto;
}

.clear {
  clear: both;
}

.item-details .actions {
  padding: 40px 0px 0px;
}

.item-details menu > button {
  margin-top: 0px;
}

.edit-button, .delete-button {
  padding-left: 30px;
  font-size: 15px;
}
.edit-button {
  background-image: url(/icons/edit.svg);
  background-position: 25% 8px;
  background-repeat: no-repeat;
}

.delete-button {
  background-image: url(/icons/delete.svg);
  background-size: 16px;
  background-position: 15% 8px;
  background-repeat: no-repeat;
}

hr {
  color: #d7d7db;
}

.metadata {
  color: #737373;
  font-size: 13px;
}

.metadata hr {
  width: 40px;
  color: #d7d7db;
  float: left;
  margin-top: 50px;
}
