/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.filter-toolbar {
  flex-direction: column;
  align-items: stretch;
}

.panel-header {
  composes: panel-header from "../../../widgets/panel.css";
  background: #fff;
  height: auto;
}

.first-row, .second-row {
  display: flex;
  flex-flow: row nowrap;
}

.first-row > * + * {
  margin-inline-start: 8px;
}

.second-row {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  margin-inline-start: 0;
  line-height: 32px;
  height: 32px;
  margin-bottom: -12px;
  margin-top: 8px;
}

.item-filter {
  composes: item-filter from "../../../widgets/panel.css";
  background: #f3f3f5;
  height: 32px;
}

.flex-spacer {
  flex-grow: 1;
}

.list-counter {
  flex-grow: 0;
  flex-shrink: 0;
}

.panel-body ul { 
  /* Ensure the promo banner stuck to the bottom of the viewport doesn't
     totally overlap the bottom of the list. */
  max-height: calc(100% - 85px);
}
