/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.label {
  color: #4a4a4f;
  font-size: 12px;
}

.select {
  color: #0c0c0d;
  appearance: none;
  -moz-appearance: none;
  border: none;
  font-weight: bold;
  background: url(/icons/arrow-dropdown.svg) right center no-repeat;
  padding-inline-end: 18px;
  border-radius: 0;
  padding-left: 3px;
  height: 33px;
  min-width: 65px;
}

.select option {
  font-weight: normal;
}

.select[disabled] {
  cursor: not-allowed;
}
