/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  padding: 0;
  margin: 0;
  width: 280px;
  height: 360px;
  color: #0c0c0d;
  background-color: white;
  font: caption;
  font-size: 13px;
  -moz-user-select: none;
}

body > main,
.app {
  height: 100%;
}
