/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.panel-body {
  padding: 1em;
  background: #F9F9FA;
}

.panel-header {
  background: #fff;
  text-align: center;
}

.panel-header .edit-btn {
  display: block;
  background-image: url(/icons/edit.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 16px;
  right: 8px;
}

.panel-footer-button {
  background: #2a2a2e !important;
  color: #f9f9fa;
}
