/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.copy-button {
  color: #0c0c0d;
}

.copied-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  min-width: 80px;
  font-size: 13px;
  color: #00c100;
}

.is-popup {
  background-image: url(/icons/copy.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  float: right;
  min-width: 26px;
}
