/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
  font-family: "Fira Sans Mono";
  src: url("/fonts/fira-mono-regular.woff");
}

.monospace {
  font-family: "Fira Sans Mono";
}

.input,
.input-wrapper {
  height: 30px;
  width: -moz-available;
  background-color: #ffffff;
  border: 1px solid rgba(12, 12, 13, 0.2);
  border-radius: 2px;
}

.input[disabled],
.input-wrapper.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #ededf0;
}

.input {
  padding: 0 8px;
  font-size: 15px;
  color: #0c0c0d;
}

input::placeholder {
  color: #4a4a4f;
}

.input:not([disabled]):hover,
.input-wrapper:not(.disabled):hover {
  border-color: rgba(12, 12, 13, 0.3);
}

.input:not([disabled]):focus,
.input-wrapper:not(.disabled):focus-within {
  border-color: #0a84ff;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.input:not([disabled]):invalid,
.input-wrapper:not(.disabled):invalid {
  border-color: #d70022;
  box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, 0.3);
}

.input-wrapper {
  display: flex;
  position: relative;
}

.input-wrapper > input {
  flex: 1;
  padding: 0 36px 0 8px;
  font-size: 15px;
  width: 0;
  min-width: 0;
  border: 0;
  color: #0c0c0d;
  background-color: transparent;
}

.input-wrapper.disabled > input {
  cursor: not-allowed;
}

.password-text button,
.input-wrapper button {
  white-space: nowrap;
  text-align: center;
  height: 16px;
  font-size: 13px;
  border: 0;
  color: #0060df;
  background-color: transparent;
  padding: 0px 8px 0px 12px;
}

.input-wrapper button {
  height: 30px;
}

.password-text {
  width: 136px;
  min-height: 23px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 0.2px;
  color: #0c0c0d;
  overflow-wrap: anywhere;
}

.password-text-long {
  width: 300px;
}

.password-text button {
  position: inherit;
}

.input-wrapper button:active {
  color: #003eaa;
}

.field-text,
.label-text {
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.field-text {
  /* This lines up our labels with the text in <input> elements. */
  color: #0c0c0d;
  margin-top: 7px;
  min-height: 25px;
  font-size: 15px;
  font-weight: normal;
  -moz-user-select: text;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.label-text {
  color: #737373;
  font-size: 13px;
  margin: 32px 0 4px 0;
}

.password button {
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 1.0);
}

.password-text button::before,
.password button::before {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 2px;
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
}

.show-btn::before {
  background-image: url(/icons/show.svg);
}

.hide-btn::before {
  background-image: url(/icons/hide.svg);
}

.filter {
  position: relative;
}

.filter::before {
  content: "";
  display: block;
  background-image: url(/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.filter input {
  padding-left: 32px;
}

.filter button {
  padding: 0;
  width: 32px;
  height: 100%;
}

.filter button[disabled] {
  display: none;
}

.filter button::before {
  background-image: url(/icons/clear.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  float: right;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
